# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\个人项目\BIGDATA_framework_compare\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
